@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --light-color: #fff;
  --light-text: #837c7c;
  --orange-color: #f0e9e1;
  --dark-orange: #f99325;
  --gray-color: #615549;
  --dark-color: #0d0d0d;
}

body {
  overflow-x: hidden;
}

/* scroll */

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #de7a23;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* end-scroll */

/* nav */

nav {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

nav .logo img {
  width: 71px;
  height: 62px;
}

nav .logo a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-links ul {
  display: flex;
  gap: 2rem;
}

nav .nav-links ul li {
  list-style: none;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1rem;
}

nav .nav-links ul li a:hover {
  color: var(--dark-orange);
}

.join-btn {
  background-color: var(--dark-orange);
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.8rem 2.2rem;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}

.join-btn:hover {
  scale: 1.1;
  background-color: var(--gray-color);
}

nav .toggle-btn {
  display: none;
  color: var(--dark-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .dropdown {
  display: none;
  position: absolute;
  right: 2rem;
  top: 5rem;
  width: 300px;
  height: 0;
  background-color: var(--gray-color);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  transition: 1s;
}

.dropdown.open {
  height: 350px;
}

nav .dropdown li {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .dropdown li a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 850px) {
  .nav-links,
  .join {
    display: none;
  }

  nav .toggle-btn {
    display: block;
  }

  nav .dropdown {
    display: block;
  }
}

@media (max-width: 450px) {
  nav .dropdown {
    left: 2rem;
    width: unset;
  }
}

/* end-nav */

/* founders */

header {
  margin: auto;
  width: 50%;
  height: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

header p {
  color: var(--light-text);
}

.founders {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.founders .founder-container img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.founders .founder-container h2 {
  text-align: center;
}

@media (max-width: 500px) {
  header {
    width: 90%;
  }

  header p {
    font-size: 13px;
  }
}

/* end-founders */

/* presidental */

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

#timeline {
  width: 90%;
  margin: 30px auto;
  position: relative;
  transition: all 0.3s;
}

#timeline,
#timeline *,
#timeline *::before,
#timeline *::after {
  box-sizing: border-box;
}

#timeline::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: var(--dark-orange);
}

#timeline .timeline-item {
  margin-bottom: 30px;
  position: relative;
}

#timeline .timeline-item .timeline-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -23px;
  border-radius: 50%;
  background-color: var(--dark-orange);
  color: var(--light-color);
}

#timeline .timeline-item .timeline-icon h1 {
  font-size: 24px;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--light-color);
  transition: all 0.3s;
}

#timeline .timeline-item .timeline-content h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  color: var(--dark-color);
  margin: -20px -20px 0 -20px;
  font-weight: 500;
  border-radius: 3px 3px 0 0;
}

#timeline .timeline-item .timeline-content h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  color: var(--gray-color);
  margin: -20px -20px 0 -20px;
  font-weight: 500;
  border-radius: 3px 3px 0 0;
}

#timeline .timeline-item .timeline-content::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -5px;
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: var(--dark-orange);
}

#timeline .timeline-item .timeline-content.right {
  float: right;
}

#timeline .timeline-item .timeline-content::before {
  left: -5px;
  right: inherit;
}

#timeline .timeline-item::after,
#timeline .timeline-item::before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0;
  }

  #timeline::before {
    left: 0;
  }

  #timeline .timeline-item .timeline-icon {
    left: 0;
  }

  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content::before {
    left: -5px;
    right: inherit;
  }
}

/* footer */

footer {
  width: 100%;
  height: auto;
  background-color: var(--gray-color);
}

footer .top {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

footer .top .first {
  width: 250px;
}

footer .top .set {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

footer .top .set h2 {
  font-size: 1.5rem;
  color: var(--dark-orange);
  margin-bottom: 5px;
}

footer .top .set p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-color);
}

footer .top .set p a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-color);
  text-decoration: none;
  transition: 0.5s;
}

footer .top .set p a:hover {
  color: var(--dark-orange);
  text-decoration: underline;
}

footer .top .set .contact-box {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

footer .top .set .contact-box i {
  color: var(--light-color);
}

footer .bottom {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

footer .bottom p {
  color: var(--light-color);
  font-weight: 500;
}

footer .bottom .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer .bottom .icons i {
  color: var(--light-color);
  font-size: 1.5rem;
  transition: 0.5s;
}

footer .bottom .icons i:hover {
  color: var(--dark-orange);
}

@media (max-width: 450px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .set {
    width: 250px;
  }
  footer .bottom p {
    text-align: center;
  }
}

/* end-footer */
