@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body{
    padding: 0;
    margin: 0;
   background: url(../img/59791810-1f74-4828-8296-45a638a75e39.jpg);
}

.test1 {
  display: flex;
  justify-content: center; 
  align-items: center;
  
}

.test1 img {
  margin-top: 20px;
  max-width: 20%; 
  max-height: 20%; 
  margin-bottom: 50px;
  justify-content: center; 
  align-items: center;

}


.iframe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  justify-content: center;
  align-items: center;
}

@media (min-width:250px) and (max-width:1000px){
  .iframe-container {
    flex-direction: column;
  }
  .test1 img {
    max-width: 40%; 
    max-height: 40%; 
  }
}

.iframe-box {
  width: 25%;
  border: 2px solid #0b0b0b; 
  border-radius: 8px; 
  padding: 10px;
  text-align: center;
  justify-content: center;
}

@media (min-width:250px) and (max-width:1024px){
  .iframe-box {
    width: 60%;
  }
}

.iframe-box iframe {
  width: 100%; 
  height: 280px; 
  justify-content: center;
  align-items: center;
}

.iframe-box button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color:#f99325;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.iframe-box button:hover {
  background-color: #f0e9e1; 
}

p{
  color: #fff;
  font-size: 30px;
}

.iframe-box a{
  text-decoration: none;
  color: black;
}

.right p{
  font-size: small;
  align-items: center;
  justify-content: center;
  display: flex;
}


  


 
  