* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}


/* start nabar */
/*--------------------------------------------------------------------------------------------------------------*/
.navbar {
    width: 100%;
    height: 140px;
    background: #f99325;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    top: 0;
}

.arrow {
    padding-left: 30px;
    height: 50px;
    width: auto;
    cursor: pointer;
}

.frame {
    background: white;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.logo {
    height: 70%;
    width: auto;
    object-fit: cover;
}

.text {
    height: 40px;
    width: auto;
}

   /*start chat area  */
   .chat-area {
      flex: 1;
      padding: 15px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .message {
      margin-top: 15px;
      max-width: 70%;
      padding: 10px 15px;
      border-radius: 40px;
      font-weight: bold;
      font-size: 18px;
      width: 475px;
      font-family: Arial, sans-serif;
      word-wrap: break-word;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .sent {
      align-self: flex-start;
      background-color:  #f99325;
      color: black;
      border-bottom-left-radius: 0;
      margin-left: 30px;
    }

    .received {
      align-self: flex-end;
      background-color: white;
      color: black;
      border-bottom-right-radius: 0;
      margin-right: 30px;
    }

    /* start input bar */
  .input-bar {
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
    font-family: Arial, sans-serif;
  }

  .input-bar input {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
    position: relative;
  }
  .send_button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 142px;
    height: 1.57cm;
    position: absolute;
    right: 130px;
    bottom: 30px;
}
.send_button .send_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
/* small phones */
@media (max-width: 400px) {
    .send_button {
        width: 142px;
        height: 1.57cm;
    }
}

/* normal phones */
@media (min-width: 401px) and (max-width: 767px) {
    .send_button {
        width: 142px;
        height: 1.57cm;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .send_button {
        width: 142px;
        height: 1.57cm;
    }
}

/* PCs and Laptops */
@media (min-width: 1024px) {
    .send_button {
        width: 142px;
        height: 1.57cm;
    }
}


































