body {
    font-family: 'Arial', sans-serif;
    background: url(BG.png);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #fff;
}

header {
    width: 100%;
    height: 250px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Validation {
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 400px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ddd;
}

input,select {
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

.submit-btn {
    background-color: #d06f07;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #928d8d;
}

footer {
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    width: 100vw;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #232e33;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.popup-content button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #d06f07;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}