body {
    font-family: Arial, sans-serif;
    background: url('BG.png') ;
    margin: 0;
    padding: 0;
    color: #333;
}

.table {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #2c3e50;
}

.attendance-table {
    overflow-x: auto;
    overflow-y: auto;
}

table {
    width: 100%; 
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f99325;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.present {
    color: #2ecc71;
    font-weight: bold;
}

.absent {
    color: #e74c3c;
    font-weight: bold;
}

.late {
    color: #f39c12;
    font-weight: bold;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #232e33;
    color: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: bold;
}

.popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d06f07;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.check-in-btn {
    background-color: #f99325;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 20px;
  }
  
  .check-in-btn:hover {
    background-color: #615549;
    transform: scale(1.05);
  }